<div class="contactUs">
    <h1 class="Contactanos__title">Contactanos</h1>
    <form class="contactUs__form">
        <div class="contactUs__containerInput">
            <label class="contactUs__label">Nombre y Apellido</label>
            <input class="contactUs__input" type="text" placeholder="Nombre y Apellido">
            <div class="contactUs__containerMsjError"></div>
        </div>
        <div class="contactUs__containerInput">
            <label class="contactUs__label">Telefono</label>
            <input class="contactUs__input" type="tel" placeholder="Telefono">
            <div class="contactUs__containerMsjError"></div>
        </div>
        <div class="contactUs__containerInput">
            <label class="contactUs__label">Email</label>
            <input class="contactUs__input" type="email" placeholder="email">
            <div class="contactUs__containerMsjError"></div>
        </div>
        <div class="contactUs__containerInput">
            <label class="contactUs__label">Localidad</label>
            <input class="contactUs__input" type="text" placeholder="localidad">
            <div class="contactUs__containerMsjError"></div>
        </div>
        <div class="contactUs__containerInput">
            <label class="contactUs__label">Mensaje</label>
            <textarea class="contactUs__textarea" name="" id="" placeholder="Mensaje"></textarea>
            <div class="contactUs__containerMsjError"></div>
        </div>
        <div class="contactUs__contanerBtn">
            <button class="contactUs__btn">Enviar</button>
        </div>
        <div class="contactUs__containerMsjError">
        </div>
    </form>
</div>