<section class="outstanding" >
    <div class="outstanding__containerTitle">
        <app-title [h]="'h1'" [title]="'Transformá tu idea en realidad'"></app-title>
    </div>
        <app-myslider >
            <app-card-service *ngFor="let service of outstanding"
            #slideItem
            [service]="service"
            [image]="service.images[0]?.url"
            [url]="url+'image/'"
            [routerLink]="['serviceDetail/', service.id]"></app-card-service>
        </app-myslider>
</section>