<div class="createProject">
    <h1 class="createProject__title">Creá tu proyecto</h1>
    <form class="createProject__form">
        <div class="createProject__containerInput">
            <label class="createProject__label">Seleccione categoría</label>
            <select class="createProject__input" >
                <option></option>
            </select>
        </div>
        <div class="createProject__containerInput">
            <label class="createProject__label">Nombre</label>
            <input class="createProject__input" type="text"  placeholder="Ingresé el nombre">
        </div>
        <div class="createProject__containerInput">
            <label class="createProject__label">Descripción</label>
            <textarea class="createProject__input" 
                placeholder="Ingresé la descripción"></textarea>
        </div>
        <div class="createProject__containerInput" *ngFor="let preview of imagePreviews">
            <img class="createProject__image" [src]="preview"  alt="image" >
        </div>
        <div class="createProject__containerInput">
            <label class="createProject__label" >Imagen (max: 3)</label>
            <input class="createProject__input" type="file" multiple accept=".png, .jpg, .jpeg" (change)="avatarUpload($event)">
        </div>
        <div class="createProject__containerInput">
            <label class="createProject__label" for="activo">Destacado?</label>
            <select class="createProject__input" id="activo" name="activo">
                <option value="true">Sí</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="createProject__containerBtn">
            <button class="createProject__button" type="button">Enviar</button>
        </div>
    </form>
</div>