/*  ------------------- Mobile ----------------------- */
@media (min-width: 0) {
    .social {
        width: 100vh;
        padding: 12px;
        box-sizing: border-box;
    }
    .social__containerLogo {
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    .social__logo {
        width: 200px;
    }
    .social__container {
    border-top: 6px solid #7eff05;
    border-left: 6px solid #7eff05;
    border-bottom: 6px solid #003b6f;
    border-right: 6px solid #003b6f;
    border-radius: 8px;
    }
    .social__containerNetworks {
        height: 50px;
        display: flex;
        justify-content: center;
        gap: 19px;
    }
}
/*  ------------------- Tablet ----------------------- */
@media (min-width: 768px) {
    .social__logo {
        width: 250px;
    }
    .social__containerNetworks {
        gap: 34px;
    }
}
/*  ------------------- Laptop ----------------------- */
@media (min-width: 1024px) {
    .social {
        width: 104vh;
    }
    .social__logo {
        width: 200px;
        height: 110px;
    }
}