/*  --------------------- Mobile ------------------------------ */
@media (min-width: 0) {
  .footer {
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 6px solid #7eff05;
    border-bottom: 6px solid #7eff05;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #003b6f;
  }
  /*  ------------------- Left ----------------- */
  .footer__containerLogoJal {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .footer__logo {
    width: 100px;
  }
  .footer_link {
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: #003b6f;
  }
  .footer__text {
    font-size: 12px;
    font-weight: bold;
  }
  /*  ------------------- Right ----------------- */
  .footer__containerLogoJs {
    display: flex;
    gap: 2px;
  }
  .footer__logoJs {
    width: 30px;
  }
}
/*  --------------------- Tablet ------------------------------ */
@media (min-width: 768px) {
  .footer {
    width: 108vh;
  }
  /*  ------------------- Left ----------------- */
  .footer__logo {
    width: 150px;
  }
  .footer_link {
    font-size: 15px;
  }
  .footer__text {
    font-size: 15px;
  }
  /*  ------------------- Right ----------------- */
  .footer__logoJs {
    width: 40px;
  }
}
