<footer class="footer">
    <div class="footer__containerLogoJal">
        <img class="footer__logo" src="logos/logo.png" alt="logo">
        <a class="footer_link" [routerLink]="['login']">administración</a>
    </div>
    <div class="footer__containerDer">
        <p class="footer__text">©Derechos reservados</p>
    </div>
    <div class="footer__containerLogoJs">
        <img class="footer__logoJs" src="logos/logoOficialJsDeveloper.png" alt="logo">
        <p class="footer__text">Creada por JsDeveloper</p>
    </div>
</footer>