/*  ---------------- Mobile --------------------- */
@media (min-width: 0) {
  .page {
    width: 100vh;
    overflow: hidden;
    min-height: 110vh;
  }
  .page__container {
    padding: 8px;
    display: flex;
    justify-content: flex-end;
  }
}
/*  ---------------- Tablet --------------------- */

