/*  ---------------- Mobile --------------------- */
@media (min-width: 0) {
  .page {
    width: 100vh;
    overflow: hidden;
    min-height: 90vh;
  }
  .page__container {
    padding: 8px;
    display: flex;
    justify-content: flex-end;
  }
}
/*  ---------------- Tablet --------------------- */
@media (min-width: 768px) {
  .page {
    width: 106vh;
    min-height: 72vh;
  }
}
/*  ---------------- Laptop --------------------- */
@media (min-width: 1024px) {
  .page {
    width: 215vh;
    min-height: 82vh;
  }
  .page__container {
    justify-content: center;
  }
}
