<header class="header">
    <!-- ------------------------------------------- Left Mobile ----------------------------- -->
    <div class="header__containerMenu">
        <button class="header__BtnMenu" (click)="togleMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16" color="green">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
            </svg>
        </button>
    </div>
    <!-- ------------------------------------------- Right Mobile ----------------------------- -->
    <div class="header__containerLogo">
        <img class="header__logo" src="logos/logo.png" alt="logo">
    </div>
    <!-- ------------------------------------------- TogleMenu Mobile ----------------------------- -->
    <div class="header__togleMenu" [ngClass]="{'open': menuItems}">
        <ul class="header__togleMenu__containerLinks">
            <li class="header__togleMenu__links" [routerLink]="['']">Home</li>
            <li class="header__togleMenu__links" (click)="togleCategories()">
                <a class="header__togleMenu__links">Servicios</a>
                <ul class="header__togleMenu__categories" [ngClass]="{'open': menuCategories}"
                    *ngFor="let category of categories">
                    <li class="header__togleMenu__links" [routerLink]="['/services/', category.id]">{{category.name}}
                    </li>
                </ul>
            </li>
            <li class="header__togleMenu__links" [routerLink]="['/aboutUs']">Sobre Nosotros</li>
            <li class="header__togleMenu__links" (click)="goToContact()">Contacto</li>
        </ul>
        <!-- ----------- Button X and admin -->
        <div class="header__containerAdminAndBtn">
            <button class="header__togleMenu__btnClose" (click)="togleMenu()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
                    viewBox="0 0 16 16" color="green">
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                </svg>
            </button>
            <div class="header__containerAdmin" *ngIf="identity && identity.name">
                <ul class="header__containerList">
                    <li class="header__togleMenu__links" [routerLink]="['admin']">Mi perfil</li>
                    <li class="header__togleMenu__links" [routerLink]="['categories']">Categorias</li>
                    <li class="header__togleMenu__links" [routerLink]="['createProject']">Crear proyecto</li>
                    <li class="header__togleMenu__links" (click)="logout()">Salir</li>
                </ul>
            </div>
        </div>
    </div>
</header>