/*  --------------------- Mobile ------------------------------ */
@media (min-width: 0) {
  .createCategorie {
    border-radius: 8px;
    padding: 15px;
    margin: 15px;
  }
  .createCategorie__title {
    text-align: center;
    font-size: 22px;
  }
  .createCategorie,
  .createCategorie__input,
  .createCategorie__button,
  .createCategorie__image {
    border-top: 6px solid #7eff05;
    border-left: 6px solid #7eff05;
    border-bottom: 6px solid #003b6f;
    border-right: 6px solid #003b6f;
    border-radius: 8px;
    color: #003b6f;
  }
  /* --------- Form ------------ */
  .createCategorie__form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
  .createCategorie__containerInput {
    width: 100%;
    display: flex;
    gap: 6px;
    align-items: center;
  }
  .createCategorie__label {
    font-size: 16px;
    font-weight: bolder;
  }
  .createCategorie__input {
    width: 100%;
  }
  .createCategorie__containerBtn {
    align-self: center;
    margin: 15px;
  }
  .createCategorie__button {
    text-decoration: none;
    padding: 3px;
    background-color: white;
    font-weight: bolder;
  }
  .createCategorie__image {
    width: 50%;
    height: 80px;
    border-radius: 50%;
  }
}
/*  --------------------- Tablet ------------------------------ */
@media (min-width: 768px) {
  .createCategorie {
    width: 85vh;
    padding: 25px;
  }
  /* --------- Form ------------ */
  .createCategorie__form {
    margin-top: 20px;
    gap: 18px;
    display: flex;
    align-items: center;
  }
  .createCategorie__containerInput {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: center;
  }
  .createCategorie__label {
    font-size: 19px;
    font-weight: bolder;
  }
  .createCategorie__button {
    padding: 12px;
  }
}
