.title__container {
    display: flex;
    justify-content: center;
}
.title__h {
    background: radial-gradient(rgb(0, 250, 0), rgb(22, 29, 26));
    font-weight: 800;
    font-family:system-ui;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    
}