/*  --------------------- Mobile ------------------------------ */
@media (min-width: 0) {
  .title__container {
    display: flex;
    justify-content: center;
  }
  .title__h {
    text-align: center;
    background: radial-gradient(#7eff05,#003b6f);
    font-weight: 800;
    font-family: system-ui;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
