<article class="cardService" >
    <div class="cardService__container">
        <!-- top immage -->
        <div class="cardService__containerImg">
            <img class="cardService__img" src="{{url+image}}" alt="image">
        </div>
        <!-- bottom text -->
        <div class="cardService__containerText">
            <app-title [title]="service.name" [h]="'h2'"></app-title>
        </div>
        <div class="cardService__containerDescription" *ngIf="description">
            <p class="cardService__description">{{service.description}}</p>
        </div>
    </div>
</article>