/*  --------------------- Mobile ------------------------------ */
@media (min-width: 0) {
  .cardService {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    width: 100%;
  }
  .cardService__container {
    width: 100%;
  }
  .cardService,
  .cardService__title,
  .cardService__parr,
  .cardService__containerDescription {
    border-top: 2px solid green;
    border-left: 2px solid green;
    border-bottom: 2px solid blue;
    border-right: 2px solid blue;
    border-radius: 8px;
  }
  .cardService__img {
    width: 100%;
    height: 400px;
    object-fit: fill;
  }
  .cardService__containerText {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cardService__title {
    padding-inline: 2px;
  }
  .cardService__containerDescription {
    display: flex;
    justify-content: center;
    color: blue;
  }
  .cardService__description {
    font-size: 18px;
    text-align: center;
  }
}
