/*  --------------------- Mobile ------------------------------ */
@media (min-width: 0) {
  .admin {
    width: 100vh;
  }
  .admin__container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  /*  ---------------------- top ------------------------ */
  .admin__containerAvatar {
    width: 80%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .admin__avatar {
    width: 50%;
    height: 80px;
    border-radius: 50%;
  }
  /*  --------------------- bottom ----------------------- */
  .admin__containerForm {
    width: 80%;
  }
  .admin__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .admin__form,
  .admin__btn,
  .admin__avatar, .admin__input {
    border-top: 6px solid #7eff05;
    border-left: 6px solid #7eff05;
    border-bottom: 6px solid #003b6f;
    border-right: 6px solid #003b6f;
    border-radius: 8px;
    color: #003b6f;
  }
  .admin__avatar {
    border-radius: 50%;
  }
  .admin__containerInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .admin__img {
    border: 2px solid #003b6f;
    width: 100%;
    height: 100px;
  }
  .admin__label {
    font-size: 19px;
  }
  .admin__input {
    border-radius: 8px;
    width: 70%;
  }
  .admin__btn {
    margin: 8px;
    width: 30%;
    height: 30px;
  }
}
/*  --------------------- Tablet ------------------------------ */
@media (min-width: 768px) {
  .admin__container {
    padding: 2px;
    gap: 12px;
  }
  /*  ---------------------- top ------------------------ */
  .admin__containerAvatar {
    width: 90%;
  }
  .admin__avatar {
    width: 50%;
  }
  /*  --------------------- bottom ----------------------- */
  .admin__containerForm {
    width: 100%;
  }
  .admin__form {
    width: 100%;
    gap: 15px;
  }
  .admin__containerInput {
    width: 90%;
  }
  .admin__label {
    font-size: 22px;
  }
  .admin__input {
    border-radius: 8px;
    width: 60%;
    text-align: center;
  }
  .admin__btn {
    width: 20%;
    height: 40px;
  }
}
/*  --------------------- Laptop ------------------------------ */
@media (min-width: 1024px) {
  .admin__container {
    width: 210vh;
  }
  /*  ---------------------- top ------------------------ */
  .admin__containerAvatar {
    width: 100vh;
  }
  /*  --------------------- bottom ----------------------- */
  .admin__containerForm {
    width: 120vh;
  }
  .admin__containerInput {
    width: 70%;
  }
  .admin__btn {
    width: 15%;
  }
}