<div class="admin">
    <div class="admin__container">
        <app-title [title]="'Perfil'" [h]="'h1'"></app-title>
        <div class="admin__containerAvatar">
            <img class="admin__avatar"  src="{{url+ 'user/avatar/' +identity.image}}" alt="">
        </div>
        <div class="admin__containerForm">
            <form class="admin__form" action="">
                <div class="admin__containerInput">
                    <label class="admin__label" for="">Nombre</label>
                    <input class="admin__input" type="text" placeholder="{{identity.name}}">
                </div>
                <div class="admin__containerInput">
                    <label class="admin__label" for="">Apellido</label>
                    <input class="admin__input" type="text" placeholder="{{identity.lastname}}">
                </div>
                <div class="admin__containerInput">
                    <img class="admin__img" src="" alt="">
                    <label class="admin__label" for="">image</label>
                    <input class="admin__input" type="text">
                </div>
                <div class="admin__containerInput">
                    <label class="admin__label" for="">email</label>
                    <input class="admin__input" type="text" placeholder="{{identity.email}}">
                </div>
                <button class="admin__btn">Guardar</button>
            </form>
        </div>
    </div>
</div>