<div class="admin">
    <div class="admin__container">
        <app-title [title]="'Perfil'" [h]="'h1'"></app-title>
        <div class="admin__containerAvatar">
            <img class="admin__avatar"  src="{{url+ 'user/avatar/' +identity.image}}" alt="avatar">
        </div>
        <div class="admin__containerForm">
            <form class="admin__form" [formGroup]="formUpdateUser">
                <div class="admin__containerInput">
                    <label class="admin__label" for="">Nombre</label>
                    <input class="admin__input" type="text" formControlName="name">
                </div>
                <ng-container *ngIf="formUpdateUser.get('name')?.touched">
                    <!-- Si el campo está vacío (requerido) -->
                    <div *ngIf="formUpdateUser.get('name')?.hasError('required')" class="admin__containerError">
                        <p class="admin__msjError">El nombre es requerido</p>
                    </div>
                </ng-container>
                <div class="admin__containerInput">
                    <label class="admin__label" for="">Apellido</label>
                    <input class="admin__input" type="text" formControlName="lastname">
                </div>
                <ng-container *ngIf="formUpdateUser.get('lastname')?.touched">
                    <!-- Si el campo está vacío (requerido) -->
                    <div *ngIf="formUpdateUser.get('lastname')?.hasError('required')" class="admin__containerError">
                        <p class="admin__msjError">El apellido es requerido</p>
                    </div>
                </ng-container>
                <div class="admin__containerInput">
                    <img *ngIf="identity && !imagePreview" class="admin__avatar" src="{{url+ 'user/avatar/'+ identity.image}}" alt="avatar">
                    <img *ngIf="imagePreview" class="admin__avatar" src="{{imagePreview}}" alt="avatar">
                </div>
                <div class="admin__containerInput">
                    <label class="admin__label" for="">imagen</label>
                    <input class="admin__input" type="file" accept=".png, .jpg, .jpeg" (change)="avatarUpload($event)">
                </div>
                <div class="admin__containerInput">
                    <label class="admin__label" for="">email</label>
                    <input class="admin__input" type="email" formControlName="email">
                </div>
                <ng-container *ngIf="formUpdateUser.get('email')?.touched">
                    <!-- Si el campo está vacío (requerido) -->
                    <div *ngIf="formUpdateUser.get('email')?.hasError('required')" class="admin__containerError">
                        <p class="admin__msjError">El email es requerido</p>
                    </div>
                    <!-- Si el email ya está utilizado -->
                    <div *ngIf="formUpdateUser.get('email')?.hasError('emailTaken')  && !formUpdateUser.get('email')?.hasError('required')" class="admin__containerError">
                        <p class="admin__msjError">El email que usó ya fue utilizado.</p>
                    </div>
                </ng-container>
                <button class="admin__btn" (click)="onSubmit()">Guardar</button>
                <div *ngIf="status == 'success'" class="admin__containerMessage">
                    <p class="admin__message">Cambio exitoso!!!</p>
                </div>
            </form>
        </div>
    </div>
</div>