/*  --------------------- Mobile ------------------------------ */
@media (min-width: 0) {
  .login {
    width: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 8px;
    padding-left: 18px;
    gap: 8px;
  }
  /*  ------------------------ Top --------------------------- */
  .Contactanos__title {
    text-align: center;
  }
  /*  ------------------------ Top --------------------------- */
  .login__form {
    padding: 10px;
    padding-inline: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
  }
  .login__containerInput {
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .login__form,
  .login__btn,
  .login__containerText, .login__input {
    border-top: 6px solid #7eff05;
    border-left: 6px solid #7eff05;
    border-bottom: 6px solid #003b6f;
    border-right: 6px solid #003b6f;
    border-radius: 8px;
    color: #003b6f;
    text-align: center;
  }
  .login__input {
    height: 20px;
  }

  .login__btn {
    padding: 10px;
    color: #003b6f;
  }
  /* --------- Msj Errors --------- */
  .login__containerError {
    align-self: center;
    margin: 0;
}
.login__msjError {
    color: red;
    text-align: center;
    font-size: 12px;
}
}
/*  --------------------- Tablet ------------------------------ */
@media (min-width: 768px) {
  .login__form {
    padding: 20px;
    gap: 10px;
  }
  .login__containerInput {
    width: 300px;
    gap: 8px;
  }
  .login__label {
    font-size: 19px;
    font-weight: bold;
  }
  .login__input {
    height: 25px;
    font-size: 16px;
  }
  .login__btn {
    padding: 15px;
    font-size: 18px;
  }
}
/*  --------------------- Laptop ------------------------------ */
@media (min-width: 1024px) {
  .login {
    width: 210vh;
    align-items: center;
  }
  .login__form {
    width: 170vh;
  }
  .login__btn {
    padding: 10px;
    font-size: 16px;
  }
}
