/*  ------------------------ Mobile ------------------- */
@media (min-width: 0) {
  .home {
    /* background-image: url("/logos/fondo.png"); */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home__titleContact {
    display: none;
  }
  .home__animation {
    display: none;
  }
}
/*  ------------------------ Laptop ------------------- */
@media (min-width: 1024px) {
  .home__titleContact {
    display: block;
  }
  .home__containerContact {
    display: flex;
    justify-content: center;
    width: 210vh;
  }
  .home__animation {
    display: block;
  }
  .home__containerContactLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
