<div class="aboutUs">
    <app-title [title]="'Sobre Nosotros'" [h]="'h1'"></app-title>
    <p class="aboutUs__text">
         En JALConstrucciones , transformamos espacios y materializamos sueños con profesionalismo y dedicación. Con años
        de experiencia en el sector, nos especializamos en la construcción de viviendas, remodelaciones integrales,
        mantenimiento y proyectos personalizados como piscinas y ampliaciones.

         Nos apasiona cada detalle de nuestro trabajo, desde el diseño hasta la entrega final, asegurando calidad,
        funcionalidad y estética en cada proyecto. Nuestro equipo de expertos trabaja con materiales de primera y las
        mejores técnicas para garantizar resultados duraderos y satisfactorios.

         Brindamos nuestros servicios en toda la provincia de Buenos Aires , llevando nuestra experiencia y compromiso a
        cada obra.

        📌 Conocé nuestros servicios en la sección de Servicios , donde encontrarás todos los trabajos que ofrecemos y 
        podrás ver proyectos que ya hemos realizado.

        📞 ¿Quieres hablar con nosotros? Podés contactarnos desde la sección de Contacto o presionar el botón de
        WhatsApp para escribirnos directamente. ¡Estamos listos para ayudarte a construir el espacio que imaginas!
    </p>
</div>